* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
body{
    height: 2800px;
    width: 100%;
    background: lightgray;
}
.petunjuk{
   margin-left: 10%;
   color : red;
}
h3 {
    margin-left: 10%;
}
h1{
    margin: 1%;
    text-align: center;
}
.syaeful {
    border-radius: 10px;
    background-color:darkgray;
    width: 80%;
    display: flex;
    justify-content:center;
    margin: auto;
    flex-direction: column;
    padding: 5px;
    
}

.info{
    display: flex;
    justify-content:flex-start;
    width: 100%;
    border: 1px solid lightblue;
    border-radius: 3px;
    height: 25px;
    align-items: center;
}
span {
    margin-bottom: 1%;
    font-size:20px;
    display: flex;
    justify-content: flex-start;
   
}
.garis1 {
    display: block;
    margin: auto;
    height: 10px;
    width: 100%;
    background:linear-gradient(45deg,lightblue,darkslategray,red)
}
.ttd {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.p {
    margin-right: 2%;
}
a{
    text-decoration: none;
    color: black;
}
.tombolgue {
    cursor: pointer;
    display: block;
    margin: auto;
    text-align: center;
    width: 30%;
    margin-bottom: 3%;
    height: 25px;
    background-color: darkslategray;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.tombolgue2{
    margin-bottom: 10%;
    cursor: pointer;
    display: block;
    margin: auto;
    text-align: center;
    width: 30%;
    height: 25px;
    background-color: darkslategray;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
@media screen and (max-width:600px) {
    .p { margin-right: 7.5%; 

    }
}